<!DOCTYPE HTML>

<html>
    
	<head>
        
        <title>Login | Empreendedor</title>
	
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <link rel="stylesheet" href="assets/css/main.css" />
        
        <noscript>
        
            <link rel="stylesheet" href="assets/css/noscript.css" />
        
        </noscript>
        
        <link rel="stylesheet" href="assets/css/cadastro.css" />
        
        <link rel="icon" href="images/i-12.svg"/>

	</head>

    <body class="is-preload">

        <!-- Início Wrapper -->
        <div id="wrapper">

            <!-- Início Header -->
            <header id = "header">

                <h1> Login empresa  </h1>

            </header>
            <!-- Fim Header -->

            <!-- Início Main -->
            <div id="main">
                
                <!-- Início Forms -->
                <form>

                    <div class="form-group">

                      <label>E-mail</label>
                      <input type="text" name = "nome" class="form-control" placeholder="Insira seu e-mail">

                      <label>Senha</label>
                      <input type="password" name = "nome" class="form-control" placeholder="Insira sua senha">

                    </div>

                    <div class="envio">

                        <button class="button small"> <a class="btn" href = "perfil-empresa"> Acessar </a> </button> 

                    </div>

                </form>
                <!-- Fim Forms -->

            </div>
            <!-- Fim Main -->

            <!-- Início Footer -->
            <footer id="footer">

            </footer>
            <!-- Fim Footer -->

        </div>
        <!-- Fim Wrapper -->

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

	</body>

</html>